.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    
    
  }
  
  .sidenav a {
    padding: 28px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-right: 150px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 5px;}
    .sidenav a {
      font-size: 18px;
      margin-right: 150px;
    }
  }
  @media screen and (max-height:480px){
     element.style {
    float: right;
    margin: 9px 22px 0px 0px;
}

}
.navigationbar{
    margin-top: 10px;
}